.register {
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 2, 102, 0.5), rgba(0, 5, 20, 0.5)),
    url("../../img/Register.jpg");
  background-size: cover;
}
.registerForm {
  background-color: rgb(226, 227, 238);
  border: 2px solid black;
  width: 40rem;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.registerLabel {
  padding-bottom: 10px;
  font-family: "Krub", sans-serif;
  font-size: 2rem;
}
.registerInput {
  margin-bottom: 30px;
  width: 25rem;
  font-size: 1.5rem;
  font-family: "Questrial", sans-serif;
  background: none;
  border: none;
  border-bottom: 2px dashed gray;
  text-align: center;
  padding: 5px;
}
.registerInput:focus {
  outline: none;
}
.formSubmit {
  padding: 10px;
  width: 90px;
  color: white;
  background: rgba(11, 136, 136, 0.877);
  border: 3px solid rgb(5, 0, 53);
  border-radius: 20px;
  cursor: pointer;
}
.formSubmit:hover {
  background: rgba(6, 90, 90, 0.877);
}
.formReg {
  margin-top: 10px;
  background: rgba(11, 136, 11, 0.774);
  border: 3px solid rgb(0, 53, 18);
}
.formReg:hover {
  background: rgba(8, 100, 8, 0.774);
}
.registerTitle {
  font-family: "Secular One", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 3.5rem;
  text-decoration: underline;
  margin-bottom: 20px;
}
.registerText {
  font-size: 1.2rem;
  color: wheat;
  padding-bottom: 0px;
  margin-top: 5px;
}
.errorLabel {
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: rgb(200, 255, 0);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media (max-width: 619px) {
  .registerForm {
    width: 90%;
    font-size: 100%;
  }
  .registerForm * {
    font-size: 16px;
  }
  .registerInput {
    width: 80%;
  }
  .registerLabel {
    font-size: 12px;
  }
}
