.posts {
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  height: fit-content;
}

@media (max-width: 619px) {
  .posts {
    margin: auto;
    width: 100%;
    /* margin-left: 50vw; */
    /* transform: translateX(-50%); */
  }
}
