.singlepost{
    flex: 9;
}
.singlePostWrapper{
    padding: 30px;
}
.singlePostImage{
    width:100%;
    height: 30rem;
    border-radius: 5px;
}

.singlePostTitle{
    font-family: 'Secular One', sans-serif;
    text-align: center;
    font-size: 2.5rem;
}
.singlePostDesc{
    margin-top: 10px;
    font-family: 'Dongle', Arial, Helvetica, sans-serif;
    font-size: 3.0rem;
    color: rgba(23, 2, 93, 0.767);
}
.singlePostDesc:first-letter{
    color: rgb(47, 0, 255);
    font-size: 5.0rem ;
    margin-left: 10px;
}
.singlePostInfo{
    color: rgb(151, 93, 22);
}
.singlePostDate{
    font-family: 'Krub', sans-serif;
    font-size: 1.5 rem ;
}
.singlePostAuthor{
    font-family: 'Krub', sans-serif;
    margin-right: 5px;
    border-right: 2px solid rgb(190, 190, 190);
    padding: 5px;
    font-size: 1.8rem ;
}
.singlePostEdit{
    float: right;
    font-size: 2.5rem;
    color: rgb(0, 0, 78);
}

.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}
.singlePostIcon:first-child{
    color: rgb(0, 177, 0);
}

.singlePostIcon:last-child{
    color: rgb(197, 0, 0);
}